.container-fluid {
    padding: 0 !important;
}

.navbar-brand {
    padding-left: 9rem!important;
}

#navbarNav {
    padding-right: 9rem!important;
}

.navbar-toggler {
    float: left;
}

/* .img-thumbnail {
    width: 500px;
    margin-top: 3rem;
    margin-right: 2rem;
} */